extends layout

mixin infoIntersections(item, index)
    tr
        td #{ index + 1 }
        td #{ item.intersectionName }
        td
            if item.modeControl == 'automatic-flexible-time'
                span.badge.automatic-flexible tự động - thời gian linh hoạt
            else if item.modeControl == 'automatic-fixed-time'
                span.badge.automatic-fixed tự động - thời gian định sẵn
            else if item.modeControl == 'manual'
                span.badge.manual-control điều khiển từ xa
            else if item.modeControl == 'emergency'
                span.badge.emergency-control khẩn cấp
        td
            if item.trafficDensity.state == 'very-low'
                span.badge.vl-badge Rất thấp
            else if item.trafficDensity.state == 'low'
                span.badge.l-badge Thấp
            else if item.trafficDensity.state == 'medium'
                span.badge.m-badge Trung bình
            else if item.trafficDensity.state == 'high'
                span.badge.h-badge Cao
            else if item.trafficDensity.state == 'very-high'
                span.badge.vh-badge Rất cao
        td #{ item.trafficDensity.date }
        td
            a(href='#') Xem

mixin infoVehicles(item, index)
    tr
        td #{ index + 1 }
        td.license_plate #{ item.license_plate }
        td
            if item.vehicleType == 'ambulance'
                span.badge.ambulance-badge Xe cấp cứu
            else if item.vehicleType == 'firetruck'
                span.badge.fire-truck-badge Xe cứu hỏa
            else if item.vehicleType == 'police'
                span.badge.police-badge Xe cảnh sát
            else if item.vehicleType == 'military'
                span.badge.military-badge Xe quân đội
            else
        td
            if item.status == 'online'
                span.badge.online-status Đang hoạt động
            else
                span.badge.offline-status Không hoạt động
        td #{ item.uptime }
        td 

        

block navbar
    - var isActive = 'home'
    include navbar

block content
    .overview-info
        span.list-item
            span.icon(style='background-color: #00B2CA;')
                i.fas.fa-ambulance
            .list-content
                div
                    span.number #{ nVehiclesActive } 
                    span.species Phương tiện ưu tiên
                span.state.online-text Đang hoạt động
        span.list-item
            span.icon(style='background-color: #9F9FED;')
                i.fas.fa-traffic-light
            .list-content
                div
                    span#nInterAuto.number 
                    span.species Giao lộ
                span.state(style='color: #736CED;') trong chế độ automatic
        span.list-item
            span.icon(style='background-color: #D9B26F;')
                i.fas.fa-traffic-light
            .list-content
                div
                    span#nInterManual.number 
                    span.species Giao lộ
                span.state(style='color: #D9B26F;') trong chế độ manual
        span.list-item
            span.icon(style='background-color: #FF1B1C;')
                i.fas.fa-traffic-light
            .list-content
                div
                    span#nInterEmergency.number 
                    span.species Giao lộ
                span.state(style='color: #E05263;') trong chế độ emergency
    .table-info
        table#intersections
            tr
                th STT
                th Tên giao lộ
                th Trạng thái điều khiển
                th Mật độ giao thông
                th Thời gian cập nhật
                th Hành động
            each item, index in intersectionsData
                +infoIntersections(item, index)
            
    .table-info
        table#vehicles
            tr
                th STT
                th Biển kiểm soát
                th Loại phương tiện
                th Trạng thái hoạt động
                th Thời gian hoạt động
                th Hành động
            each item, index in vehiclesData
                +infoVehicles(item, index)