extends layout

mixin infoVehicle(item)
    tr
        td.license_plate #{ item.license_plate }
        td
            if item.vehicleType == 'ambulance'
                label.badge.ambulance-badge Xe cấp cứu
            else if item.vehicleType == 'fire-truck'
                label.badge.fire-truck-badge Xe cứu hỏa
            else if item.vehicleType == 'police'
                label.badge.police-badge Xe cảnh sát
            else if item.vehicleType == 'military'
                label.badge.military-badge Xe quân đội
            else
        td #{ item.phone}
        td
            if item.status == 'online'
                label.badge.online-status Đang hoạt động
            else
                label.badge.offline-status Không hoạt động
        td #{ item.uptime }
        //- td #{ item.journey[0].geometry.coordinates }
        //- td #{ item.journey[1].geometry.coordinates }

block head 
    include map.head.pug

block navbar
    - var isActive = 'tracking'
    include navbar

block content
    span.create-header Giám sát phương tiện
    .vehicles-wrapper
        #map
        .vehicles-info-container
            .vehicles-info-box
                table.vehicles-info-table
                    thead
                        tr
                            th Biển kiểm soát
                            th Loại phương tiện
                            th Số điện thoại
                            th Trạng thái hoạt động
                            th Thời gian hoạt động
                            th Điểm xuất phát 
                            th Điểm đến

                    tbody
                        each item in nVehicle
                            +infoVehicle(item)

block addFile
    script(src='/javascripts/tracking-vehicle.map.js')
    script(src='/javascripts/tracking-vehicle.js')